.game-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle, #0b5e2e 40%, #06381c 100%);
    overflow: hidden;
}

.table-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.player-hand {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: flex-end;
}
.player-hand .card {
    margin-left: -100px;
    transition: transform 0.2s ease, z-index 0.2s ease;
}
.player-hand .card:first-child {
    margin-left: 0;
}

.opponent-hand {
    transform: translateX(-50%);
    display: flex;
    align-items: flex-end;
}
.opponent-hand .card {
    margin-left: -118px;
}
.opponent-hand .card:first-child {
    margin-left:0;
}

.trick-area {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 200px;
    transform: translate(-50%, -50%);
}

.turn-notification {
    position:absolute;
    font-size: 45px;
    display: flex;
    top:62%;
    left:42%;
    color: white;
}

.winner-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    z-index: 1000;
}
.winner-popup {
    background-color: rgba(0,0,0,0);
    color: white;
    padding: 25px 40px;
    border-radius: 16px;
    font-size: 28px;
    font-weight: bold;
}