.score-table {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: color;
  align-items: center;
  padding: 1rem;
  overflow-y: auto;
  overflow-x: auto;
  display: block;
  z-index: 1000;
}

.exit-cell {
  position: sticky;
  top: 0;
  background-color: color;
  min-width: 10vw;
  width: 10vw;
}

.player-name {
  position: sticky;
  top: 0;
  background-color: color;
}

.total-score {
  min-width: 20vw;
  width: 20vw;
}
